* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background: #121415 38.42%;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

.home-flow{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.top-ellipse{
  position: absolute;
  top: 0;
  left: 35%;
  width: 100%;
}

.bottom-ellipse{
  width: 100%;
  position: absolute;
  top: 22%;
  left: 15%;
}

.home-content{
  width: 45%;
  position: absolute;
  top: 40%;
  left: 15%;
}

.top-line-heading{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 86px;
  font-weight: 900;
  text-align: left;
  color: rgba(234, 224, 216, 1);
}

.middle-line-heading{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 65px;
  font-weight: 700;
  text-align: left;
  color:rgba(24, 233, 124, 1);
}

.bottom-line-heading{
  font-weight: 400;
  text-align: left;
  font-size: 40px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  color:rgba(234, 224, 216, 1);
}

.home-feature-content{
  display:flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 100%;
  left: 63%;
  padding-bottom: 50px;
}

.table-contents{
  display: flex;
  gap: 20px;
}

.content-icon{
  margin-top: 10px;
}

.content-title{
  font-size: 38px;
  width: 50%;
  font-weight: 500;
  text-align: left;
  color:rgba(234, 224, 216, 1);
}

.content-description{
  font-size: 16px;
  font-weight:200;
  line-height: 20px;
  text-align: left;
  width:65%;
  color:rgba(234, 224, 216, 1);
}

@media (max-width:1300px) {
  
  .home-feature-content{
    left: 70%;
    top: 100%;
  }
  .content-title{
    font-size: 30px;
    width: 70%;
  }
  
  .content-description{
    font-size: 13px;
    width: 100%;
  }
  .home-content{
    width: 45%;
    top: 50%;
    left: 18%;
  }
  
  .top-line-heading{
    font-size: 65px;
    font-weight: 900;
  }
  
  .middle-line-heading{
    font-size: 50px;
    font-weight: 700;

  }
  
  .bottom-line-heading{
    font-weight: 400;
    font-size: 35px;
  }
}

@media (max-width:1150px) {
  
  .home-feature-content{
    left: 80%;
  }
  .content-title{
    font-size: 30px;
    width: 90%;
  }
}

@media (max-width:950px) {

  /* .top-ellipse img{
    height: 90%;
    width: 90%;
  }  
  .bottom-ellipse img{
    height: 90%;
    width: 90%;
  }
  .bottom-ellipse{
    top: 12%;
    left: 12%;
  } */
  
  .home-feature-content{
    left: 90%;
    top: 100%;
    width: 50%;
  }
  .content-title{
    font-size: 20px;
    width: 90%;
  }
  .content-icon img{
    height: 50%;
  }
  .table-contents{
    gap: 5px;
  }
  
  .content-description{
    font-size: 10px;
    width: 50%;
  }
  .home-content{
    top: 50%;
    left: 25%;
  }
  
  .top-line-heading{
    font-size: 50px;
    font-weight: 900;
  }
  
  .middle-line-heading{
    font-size: 40px;
    font-weight: 700;

  }
  
  .bottom-line-heading{
    font-weight: 400;
    font-size: 25px;
  }
}

@media (max-width:400px) {

  .top-ellipse img{
    width: 100%;
  }  
  .top-ellipse {
    left: 70%;
  }  
  .bottom-ellipse img{
    height: 90%;
    width: 90%;
  }
  .bottom-ellipse{
    top: 30%;
    left: 30%;
  }
  
  .home-feature-content{
    left: 100%;
    top: 50%;
    width: 100%;
  }
  .content-title{
    font-size: 20px;
    width: 90%;
  }
  .content-icon img{
    height: 50%;
  }
  .table-contents{
    gap: 5px;
  }
  
  .content-description{
    font-size: 10px;
    width: 50%;
  }
  .home-content{
    top: 25%;
    left: 45%;
  }
  
  .top-line-heading{
    font-size: 24px;
    font-weight: 900;
  }
  
  .middle-line-heading{
    font-size: 18px;
    font-weight: 700;

  }
  
  .bottom-line-heading{
    font-weight: 400;
    font-size: 14px;
  }
}
